@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #032e83;
  font-size: calc(0.75rem + 0.5vw);
}

.primaryColor {
  @apply text-[#032e83];
}

.secondaryColor {
  @apply text-[#c0873d];
}

.linkHover:hover {
  color: #cd9a41;
  transition: color 0.2s ease-in-out;
}

.textShadow {
  text-shadow: 3px 2px 3px rgba(3, 46, 131, 0.2);
}

.titleShadow {
  /* text-shadow: 1px 1px 2px rgba(3, 46, 131, 0.5); */
  text-shadow: 4px 2px 3px #cd9a41;
  /* text-shadow: 1px 1px 1px white; */
}

.sectionPadding {
  padding: 5rem;
}

hr {
  border-width: 2px;
}

::-webkit-scrollbar {
  width: 9px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #032e83; /* color of the scrollbar thumb */
  border-radius: 0px; /* rounded corners of the thumb */
}
