/* To load both Roboto Light 300 and Regular 400 font weights */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Roboto', sans-serif;
}

